USE [master]
GO
/****** Object:  Database [THOITRANG]    Script Date: 12/4/2022 3:17:23 PM ******/
CREATE DATABASE [THOITRANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THOITRANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\THOITRANG.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'THOITRANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\THOITRANG_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THOITRANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THOITRANG]
GO
/****** Object:  Table [dbo].[BANGGIA]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGGIA](
	[MAMH] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[NGAYAPDUNG] [date] NOT NULL,
	[GIAMOI] [int] NOT NULL,
 CONSTRAINT [PK_MAMH_MANV_NGAYAPDUNG] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MANV] ASC,
	[NGAYAPDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MACN] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MADDH] [nchar](10) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_MADDH_MAMH] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDKM]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDKM](
	[MADKM] [nchar](10) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[MUCGIAMGIA] [float] NOT NULL,
 CONSTRAINT [PK_MADKM_MAMH] PRIMARY KEY CLUSTERED 
(
	[MADKM] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [nchar](10) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_SOHD_MAMH] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPD]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPD](
	[MAPD] [nchar](10) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_MAPD_MAMH] PRIMARY KEY CLUSTERED 
(
	[MAPD] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](10) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_MAPN_MAMH] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](10) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADDH] [nchar](10) NOT NULL,
	[NGAYDAT] [nchar](10) NULL CONSTRAINT [DF_DONDATHANG_NGAYDAT]  DEFAULT (getdate()),
	[MANCC] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[MAKHO] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MADDH] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOTKHUYENMAI]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOTKHUYENMAI](
	[MADKM] [nchar](10) NOT NULL,
	[LYDOKM] [nvarchar](100) NOT NULL,
	[NGAYBD] [date] NOT NULL,
	[NGAYKT] [date] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MADKM] PRIMARY KEY CLUSTERED 
(
	[MADKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HINHANHMH]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHANHMH](
	[MAHA] [nchar](10) NOT NULL,
	[DUONGDAN] [nvarchar](100) NULL,
	[MAMH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MAHA] PRIMARY KEY CLUSTERED 
(
	[MAHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [nchar](10) NOT NULL,
	[NGAYIN] [date] NULL CONSTRAINT [DF_HOADON_NGAYIN]  DEFAULT (getdate()),
	[MASOTHUEKH] [nchar](15) NULL,
	[MANV] [nchar](10) NOT NULL,
	[MAPD] [nchar](10) NULL,
 CONSTRAINT [PK_SOHD] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[HOTENKH] [nvarchar](50) NOT NULL,
	[SOCMND] [nchar](15) NOT NULL,
	[GIOITINH] [bit] NULL CONSTRAINT [DF_KHACHHANG_GIOITINH]  DEFAULT ((0)),
	[NGAYSINH] [date] NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
	[EMAIL] [nchar](50) NOT NULL,
	[MASOTHUE] [nchar](15) NOT NULL,
 CONSTRAINT [PK_MAKH] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHO]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [nchar](10) NOT NULL,
	[TENKHO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MAKHO] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHO_MH_SIZE]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO_MH_SIZE](
	[MAKHO] [nchar](10) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[MASIZE] [int] NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
 CONSTRAINT [PK_KHO_MH_SIZE] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC,
	[MAMH] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIKH]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKH](
	[MALOAIKH] [int] NOT NULL,
	[TENLOAIKH] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_LOAIKH] PRIMARY KEY CLUSTERED 
(
	[MALOAIKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIMH]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMH](
	[MALOAIMH] [int] NOT NULL,
	[TENLOAIMH] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_MALOAIMH] PRIMARY KEY CLUSTERED 
(
	[MALOAIMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](500) NOT NULL,
	[MOTA] [nvarchar](max) NOT NULL,
	[TRANGTHAI] [int] NOT NULL CONSTRAINT [DF_MATHANG_TRANGTHAI]  DEFAULT ((1)),
	[MANH] [nchar](10) NOT NULL,
	[MALOAIMH] [int] NULL,
	[MALOAIKH] [int] NULL,
 CONSTRAINT [PK_MAMH] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[EMAIL] [nchar](50) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
 CONSTRAINT [PK_MANCC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANHIEU]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANHIEU](
	[MANH] [nchar](10) NOT NULL,
	[TENNH] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MANH] PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[GIOITINH] [bit] NULL CONSTRAINT [DF_NHANVIEN_GIOITINH]  DEFAULT ((0)),
	[NGAYSINH] [date] NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
	[EMAIL] [nchar](50) NOT NULL,
 CONSTRAINT [PK_MANV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[MAPD] [nchar](10) NOT NULL,
	[NGAYDAT] [datetime] NULL CONSTRAINT [DF_PHIEUDAT_NGAYDAT]  DEFAULT (getdate()),
	[HOTENNGUOINHAN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
	[NGAYGIOGIAO] [datetime] NULL,
	[MANV] [nchar](10) NOT NULL,
	[MAKH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MAPD] PRIMARY KEY CLUSTERED 
(
	[MAPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nchar](10) NOT NULL,
	[NGAYNHAP] [date] NULL CONSTRAINT [DF_PHIEUNHAP_NGAYNHAP]  DEFAULT (getdate()),
	[MANV] [nchar](10) NOT NULL,
	[MADDH] [nchar](10) NOT NULL,
	[MAKHO] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MAPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [nchar](10) NOT NULL,
	[NGAYXUAT] [date] NULL CONSTRAINT [DF_PHIEUXUAT_NGAYXUAT]  DEFAULT (getdate()),
	[MANV] [nchar](10) NOT NULL,
	[MAKHO] [nchar](10) NOT NULL,
	[MACN] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[MASIZE] [int] IDENTITY(1,1) NOT NULL,
	[TENSIZE] [nchar](5) NOT NULL,
 CONSTRAINT [PK_MASIZE] PRIMARY KEY CLUSTERED 
(
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/4/2022 3:17:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTK] [nchar](50) NOT NULL,
	[MATKHAU] [nchar](16) NOT NULL,
	[MAKH] [nchar](10) NULL,
	[MANV] [nchar](10) NULL,
 CONSTRAINT [PK_TENTK] PRIMARY KEY CLUSTERED 
(
	[TENTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BANGGIA] ([MAMH], [MANV], [NGAYAPDUNG], [GIAMOI]) VALUES (N'MH1       ', N'NV1       ', CAST(N'2021-02-02' AS Date), 3000)
INSERT [dbo].[BANGGIA] ([MAMH], [MANV], [NGAYAPDUNG], [GIAMOI]) VALUES (N'MH2       ', N'NV2       ', CAST(N'2021-02-02' AS Date), 2500)
INSERT [dbo].[BANGGIA] ([MAMH], [MANV], [NGAYAPDUNG], [GIAMOI]) VALUES (N'MH3       ', N'NV3       ', CAST(N'2021-02-02' AS Date), 2500)
INSERT [dbo].[CHINHANH] ([MACN], [TENCN]) VALUES (N'CN1       ', N'CHI NHÁNH 1')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN]) VALUES (N'CN2       ', N'CHI NHÁNH 2')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN]) VALUES (N'CN3       ', N'CHI NHÁNH 3')
INSERT [dbo].[CTDDH] ([MADDH], [MAMH], [SOLUONG], [DONGIA]) VALUES (N'DDH1      ', N'MH1       ', 20, 2500)
INSERT [dbo].[CTDDH] ([MADDH], [MAMH], [SOLUONG], [DONGIA]) VALUES (N'DDH1      ', N'MH2       ', 20, 2000)
INSERT [dbo].[CTDDH] ([MADDH], [MAMH], [SOLUONG], [DONGIA]) VALUES (N'DDH1      ', N'MH3       ', 30, 2000)
INSERT [dbo].[CTDKM] ([MADKM], [MAMH], [MUCGIAMGIA]) VALUES (N'DKM1      ', N'MH1       ', 0.5)
INSERT [dbo].[CTDKM] ([MADKM], [MAMH], [MUCGIAMGIA]) VALUES (N'DKM1      ', N'MH2       ', 0.1)
INSERT [dbo].[CTDKM] ([MADKM], [MAMH], [MUCGIAMGIA]) VALUES (N'DKM2      ', N'MH3       ', 0.15)
INSERT [dbo].[CTHD] ([SOHD], [MAMH], [SOLUONG]) VALUES (N'HD1       ', N'MH2       ', 1)
INSERT [dbo].[CTHD] ([SOHD], [MAMH], [SOLUONG]) VALUES (N'HD2       ', N'MH1       ', 1)
INSERT [dbo].[CTPD] ([MAPD], [MAMH], [SOLUONG]) VALUES (N'PD1       ', N'MH1       ', 1)
INSERT [dbo].[CTPD] ([MAPD], [MAMH], [SOLUONG]) VALUES (N'PD2       ', N'MH2       ', 1)
INSERT [dbo].[CTPD] ([MAPD], [MAMH], [SOLUONG]) VALUES (N'PD3       ', N'MH3       ', 2)
INSERT [dbo].[CTPN] ([MAPN], [MAMH], [SOLUONG], [DONGIA]) VALUES (N'PN1       ', N'MH1       ', 20, 2500)
INSERT [dbo].[CTPN] ([MAPN], [MAMH], [SOLUONG], [DONGIA]) VALUES (N'PN1       ', N'MH2       ', 20, 2000)
INSERT [dbo].[CTPN] ([MAPN], [MAMH], [SOLUONG], [DONGIA]) VALUES (N'PN1       ', N'MH3       ', 30, 2000)
INSERT [dbo].[CTPX] ([MAPX], [MAMH], [SOLUONG]) VALUES (N'PX1       ', N'MH1       ', 10)
INSERT [dbo].[CTPX] ([MAPX], [MAMH], [SOLUONG]) VALUES (N'PX1       ', N'MH2       ', 10)
INSERT [dbo].[CTPX] ([MAPX], [MAMH], [SOLUONG]) VALUES (N'PX2       ', N'MH3       ', 10)
INSERT [dbo].[DONDATHANG] ([MADDH], [NGAYDAT], [MANCC], [MANV], [MAKHO]) VALUES (N'DDH1      ', N'2022-10-26', N'NCC1      ', N'NV1       ', N'NK1       ')
INSERT [dbo].[DONDATHANG] ([MADDH], [NGAYDAT], [MANCC], [MANV], [MAKHO]) VALUES (N'DDH2      ', N'2022-10-26', N'NCC2      ', N'NV2       ', N'NK2       ')
INSERT [dbo].[DONDATHANG] ([MADDH], [NGAYDAT], [MANCC], [MANV], [MAKHO]) VALUES (N'DDH3      ', N'2022-10-26', N'NCC3      ', N'NV3       ', N'NK3       ')
INSERT [dbo].[DOTKHUYENMAI] ([MADKM], [LYDOKM], [NGAYBD], [NGAYKT], [MANV]) VALUES (N'DKM1      ', N'ABC', CAST(N'2022-11-26' AS Date), CAST(N'2022-12-12' AS Date), N'NV1       ')
INSERT [dbo].[DOTKHUYENMAI] ([MADKM], [LYDOKM], [NGAYBD], [NGAYKT], [MANV]) VALUES (N'DKM2      ', N'ABC', CAST(N'2022-11-26' AS Date), CAST(N'2022-12-20' AS Date), N'NV2       ')
INSERT [dbo].[HINHANHMH] ([MAHA], [DUONGDAN], [MAMH]) VALUES (N'HA1       ', NULL, N'MH1       ')
INSERT [dbo].[HINHANHMH] ([MAHA], [DUONGDAN], [MAMH]) VALUES (N'HA2       ', NULL, N'MH2       ')
INSERT [dbo].[HINHANHMH] ([MAHA], [DUONGDAN], [MAMH]) VALUES (N'HA3       ', NULL, N'MH3       ')
INSERT [dbo].[HOADON] ([SOHD], [NGAYIN], [MASOTHUEKH], [MANV], [MAPD]) VALUES (N'HD1       ', CAST(N'2022-11-27' AS Date), NULL, N'NV1       ', NULL)
INSERT [dbo].[HOADON] ([SOHD], [NGAYIN], [MASOTHUEKH], [MANV], [MAPD]) VALUES (N'HD2       ', CAST(N'2022-11-27' AS Date), NULL, N'NV2       ', N'PD1       ')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [SOCMND], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [MASOTHUE]) VALUES (N'KH1       ', N'TRẦN VĂN A', N'191999250      ', 0, CAST(N'2000-03-03' AS Date), N'TIỀN GIANG', N'0969687690     ', N'AVANTRAN@GMAIL.COM                                ', N'123456780      ')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [SOCMND], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [MASOTHUE]) VALUES (N'KH2       ', N'TRẦN VĂN B', N'191999251      ', 0, CAST(N'2000-03-03' AS Date), N'BÌNH DƯƠNG', N'0969687691     ', N'BVANTRAN@GMAIL.COM                                ', N'123456781      ')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [SOCMND], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [EMAIL], [MASOTHUE]) VALUES (N'KH3       ', N'TRẦN VĂN C', N'191999252      ', 0, CAST(N'2000-03-03' AS Date), N'HỒ CHÍ MINH', N'0969687692     ', N'CVANTRAN@GMAIL.COM                                ', N'123456782      ')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO]) VALUES (N'NK1       ', N'NHÀ KHO 1')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO]) VALUES (N'NK2       ', N'NHÀ KHO 2')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO]) VALUES (N'NK3       ', N'NHÀ KHO 3')
INSERT [dbo].[MATHANG] ([MAMH], [TENMH], [MOTA], [TRANGTHAI], [MANH], [MALOAIMH], [MALOAIKH]) VALUES (N'MH1       ', N'TÚI XÁCH MONOGRAM MULTICOLORE - KEEPALL', N'ABC', 1, N'NH1       ', NULL, NULL)
INSERT [dbo].[MATHANG] ([MAMH], [TENMH], [MOTA], [TRANGTHAI], [MANH], [MALOAIMH], [MALOAIKH]) VALUES (N'MH2       ', N'TÚI XÁCH DAMIER GEANT AVENTURIER', N'ABC', 1, N'NH1       ', NULL, NULL)
INSERT [dbo].[MATHANG] ([MAMH], [TENMH], [MOTA], [TRANGTHAI], [MANH], [MALOAIMH], [MALOAIKH]) VALUES (N'MH3       ', N'NƯỚC HOA NAM GUCCI GUILTY POUR HOME EDP', N'ABC', 1, N'NH2       ', NULL, NULL)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [EMAIL], [SDT]) VALUES (N'NCC1      ', N'DƯƠNG VĂN A', N'HỒ CHÍ MINH', N'ADUONGVAN@GMAIL.COM                               ', N'0969687562     ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [EMAIL], [SDT]) VALUES (N'NCC2      ', N'DƯƠNG VĂN B', N'HÀ NỘI', N'BDUONGVAN@GMAIL.COM                               ', N'0969687563     ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [EMAIL], [SDT]) VALUES (N'NCC3      ', N'DƯƠNG VĂN C', N'BÌNH DƯƠNG', N'CDUONGVAN@GMAIL.COM                               ', N'0969687564     ')
INSERT [dbo].[NHANHIEU] ([MANH], [TENNH]) VALUES (N'NH1       ', N'LOUIS VUITTON')
INSERT [dbo].[NHANHIEU] ([MANH], [TENNH]) VALUES (N'NH2       ', N'GUCCI')
INSERT [dbo].[NHANHIEU] ([MANH], [TENNH]) VALUES (N'NH3       ', N'HERMES')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [EMAIL]) VALUES (N'NV1       ', N'NGUYỄN VĂN A', 0, CAST(N'2001-02-02' AS Date), N'HỒ CHÍ MINH', N'0969665482     ', N'ABC@GMAIL.COM                                     ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [EMAIL]) VALUES (N'NV2       ', N'NGUYỄN THỊ B', 1, CAST(N'2000-03-03' AS Date), N'HÀ NỘI', N'0969665492     ', N'ABCD@GMAIL.COM                                    ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [EMAIL]) VALUES (N'NV3       ', N'NGUYỄN THỊ C', 1, CAST(N'2000-03-03' AS Date), N'HẢI PHÒNG', N'0969665493     ', N'CTHI@GMAIL.COM                                    ')
INSERT [dbo].[PHIEUDAT] ([MAPD], [NGAYDAT], [HOTENNGUOINHAN], [DIACHI], [SDT], [NGAYGIOGIAO], [MANV], [MAKH]) VALUES (N'PD1       ', CAST(N'2022-11-26 00:00:00.000' AS DateTime), N'PHAN VĂN A', N'HỒ CHÍ MINH', N'0969684510     ', CAST(N'2022-12-01 00:00:00.000' AS DateTime), N'NV1       ', N'KH1       ')
INSERT [dbo].[PHIEUDAT] ([MAPD], [NGAYDAT], [HOTENNGUOINHAN], [DIACHI], [SDT], [NGAYGIOGIAO], [MANV], [MAKH]) VALUES (N'PD2       ', CAST(N'2022-11-26 00:00:00.000' AS DateTime), N'PHAN VĂN B', N'BÌNH DƯƠNG', N'0969684511     ', CAST(N'2022-12-01 00:00:00.000' AS DateTime), N'NV2       ', N'KH2       ')
INSERT [dbo].[PHIEUDAT] ([MAPD], [NGAYDAT], [HOTENNGUOINHAN], [DIACHI], [SDT], [NGAYGIOGIAO], [MANV], [MAKH]) VALUES (N'PD3       ', CAST(N'2022-11-26 00:00:00.000' AS DateTime), N'PHAN VĂN C', N'TÂY NINH', N'0969684512     ', CAST(N'2022-12-01 00:00:00.000' AS DateTime), N'NV3       ', N'KH3       ')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MANV], [MADDH], [MAKHO]) VALUES (N'PN1       ', CAST(N'2022-11-20' AS Date), N'NV1       ', N'DDH1      ', N'NK1       ')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MANV], [MADDH], [MAKHO]) VALUES (N'PN2       ', CAST(N'2022-11-20' AS Date), N'NV2       ', N'DDH2      ', N'NK2       ')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MANV], [MADDH], [MAKHO]) VALUES (N'PN3       ', CAST(N'2022-11-20' AS Date), N'NV3       ', N'DDH3      ', N'NK3       ')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [NGAYXUAT], [MANV], [MAKHO], [MACN]) VALUES (N'PX1       ', CAST(N'2022-11-26' AS Date), N'NV1       ', N'NK1       ', N'CN1       ')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [NGAYXUAT], [MANV], [MAKHO], [MACN]) VALUES (N'PX2       ', CAST(N'2022-11-26' AS Date), N'NV2       ', N'NK2       ', N'CN2       ')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [NGAYXUAT], [MANV], [MAKHO], [MACN]) VALUES (N'PX3       ', CAST(N'2022-11-26' AS Date), N'NV3       ', N'NK3       ', N'CN3       ')
INSERT [dbo].[TAIKHOAN] ([TENTK], [MATKHAU], [MAKH], [MANV]) VALUES (N'TRANTHID                                          ', N'12345673        ', N'KH4       ', NULL)
INSERT [dbo].[TAIKHOAN] ([TENTK], [MATKHAU], [MAKH], [MANV]) VALUES (N'TRANTHIE                                          ', N'12345674        ', N'KH5       ', NULL)
INSERT [dbo].[TAIKHOAN] ([TENTK], [MATKHAU], [MAKH], [MANV]) VALUES (N'TRANVANA                                          ', N'12345670        ', N'KH1       ', NULL)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENCN]    Script Date: 12/4/2022 3:17:23 PM ******/
ALTER TABLE [dbo].[CHINHANH] ADD  CONSTRAINT [UK_TENCN] UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_EMAIL]    Script Date: 12/4/2022 3:17:23 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UK_EMAIL] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_MASOTHUE]    Script Date: 12/4/2022 3:17:23 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UK_MASOTHUE] UNIQUE NONCLUSTERED 
(
	[MASOTHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_SDT]    Script Date: 12/4/2022 3:17:23 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UK_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_SOCMND]    Script Date: 12/4/2022 3:17:23 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UK_SOCMND] UNIQUE NONCLUSTERED 
(
	[SOCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENKHO]    Script Date: 12/4/2022 3:17:23 PM ******/
CREATE NONCLUSTERED INDEX [UK_TENKHO] ON [dbo].[KHO]
(
	[TENKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENLOAIMH]    Script Date: 12/4/2022 3:17:23 PM ******/
ALTER TABLE [dbo].[LOAIMH] ADD  CONSTRAINT [UK_TENLOAIMH] UNIQUE NONCLUSTERED 
(
	[TENLOAIMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_EMAIL_NCC]    Script Date: 12/4/2022 3:17:23 PM ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [UK_EMAIL_NCC] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_SDT_NCC]    Script Date: 12/4/2022 3:17:23 PM ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [UK_SDT_NCC] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENNH]    Script Date: 12/4/2022 3:17:23 PM ******/
ALTER TABLE [dbo].[NHANHIEU] ADD  CONSTRAINT [UK_TENNH] UNIQUE NONCLUSTERED 
(
	[TENNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_EMAIL_NV]    Script Date: 12/4/2022 3:17:23 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UK_EMAIL_NV] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_SDT_NV]    Script Date: 12/4/2022 3:17:23 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UK_SDT_NV] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_TENSIZE]    Script Date: 12/4/2022 3:17:23 PM ******/
ALTER TABLE [dbo].[SIZE] ADD  CONSTRAINT [UK_TENSIZE] UNIQUE NONCLUSTERED 
(
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGGIA_MATHANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MATHANG] ([MAMH])
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [FK_BANGGIA_MATHANG]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGGIA_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [FK_BANGGIA_NHANVIEN]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_DONDATHANG] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDATHANG] ([MADDH])
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DONDATHANG]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_MATHANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MATHANG] ([MAMH])
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_MATHANG]
GO
ALTER TABLE [dbo].[CTDKM]  WITH CHECK ADD  CONSTRAINT [FK_CTDKM_DOTKHUYENMAI] FOREIGN KEY([MADKM])
REFERENCES [dbo].[DOTKHUYENMAI] ([MADKM])
GO
ALTER TABLE [dbo].[CTDKM] CHECK CONSTRAINT [FK_CTDKM_DOTKHUYENMAI]
GO
ALTER TABLE [dbo].[CTDKM]  WITH CHECK ADD  CONSTRAINT [FK_CTDKM_MATHANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MATHANG] ([MAMH])
GO
ALTER TABLE [dbo].[CTDKM] CHECK CONSTRAINT [FK_CTDKM_MATHANG]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_MATHANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MATHANG] ([MAMH])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_MATHANG]
GO
ALTER TABLE [dbo].[CTPD]  WITH CHECK ADD  CONSTRAINT [FK_CTPD_MATHANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MATHANG] ([MAMH])
GO
ALTER TABLE [dbo].[CTPD] CHECK CONSTRAINT [FK_CTPD_MATHANG]
GO
ALTER TABLE [dbo].[CTPD]  WITH CHECK ADD  CONSTRAINT [FK_CTPD_PHIEUDAT] FOREIGN KEY([MAPD])
REFERENCES [dbo].[PHIEUDAT] ([MAPD])
GO
ALTER TABLE [dbo].[CTPD] CHECK CONSTRAINT [FK_CTPD_PHIEUDAT]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_MATHANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MATHANG] ([MAMH])
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_MATHANG]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_MATHANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MATHANG] ([MAMH])
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_MATHANG]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_PHIEUXUAT] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT] ([MAPX])
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_PHIEUXUAT]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_KHO]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[DOTKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_DOTKHUYENMAI_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DOTKHUYENMAI] CHECK CONSTRAINT [FK_DOTKHUYENMAI_NHANVIEN]
GO
ALTER TABLE [dbo].[HINHANHMH]  WITH CHECK ADD  CONSTRAINT [FK_HINHANHMH_MATHANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MATHANG] ([MAMH])
GO
ALTER TABLE [dbo].[HINHANHMH] CHECK CONSTRAINT [FK_HINHANHMH_MATHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MASOTHUEKH])
REFERENCES [dbo].[KHACHHANG] ([MASOTHUE])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHIEUDAT] FOREIGN KEY([MAPD])
REFERENCES [dbo].[PHIEUDAT] ([MAPD])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHIEUDAT]
GO
ALTER TABLE [dbo].[KHO_MH_SIZE]  WITH CHECK ADD  CONSTRAINT [FK_KHO_MH_SIZE_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[KHO_MH_SIZE] CHECK CONSTRAINT [FK_KHO_MH_SIZE_KHO]
GO
ALTER TABLE [dbo].[KHO_MH_SIZE]  WITH CHECK ADD  CONSTRAINT [FK_KHO_MH_SIZE_MATHANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MATHANG] ([MAMH])
GO
ALTER TABLE [dbo].[KHO_MH_SIZE] CHECK CONSTRAINT [FK_KHO_MH_SIZE_MATHANG]
GO
ALTER TABLE [dbo].[KHO_MH_SIZE]  WITH CHECK ADD  CONSTRAINT [FK_KHO_MH_SIZE_SIZE] FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[KHO_MH_SIZE] CHECK CONSTRAINT [FK_KHO_MH_SIZE_SIZE]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MATHANG_LOAIKH] FOREIGN KEY([MALOAIKH])
REFERENCES [dbo].[LOAIKH] ([MALOAIKH])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MATHANG_LOAIKH]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MATHANG_LOAIMH] FOREIGN KEY([MALOAIMH])
REFERENCES [dbo].[LOAIMH] ([MALOAIMH])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MATHANG_LOAIMH]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MATHANG_NHANHIEU] FOREIGN KEY([MANH])
REFERENCES [dbo].[NHANHIEU] ([MANH])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MATHANG_NHANHIEU]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_DONDATHANG] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDATHANG] ([MADDH])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_DONDATHANG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_KHO]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_CHINHANH]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_KHO]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_KHACHHANG]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [CK_GIAMOI] CHECK  (([GIAMOI]>(0)))
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [CK_GIAMOI]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG_DONGIA_DDH] CHECK  (([SOLUONG]>(0) AND [DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_SOLUONG_DONGIA_DDH]
GO
ALTER TABLE [dbo].[CTDKM]  WITH CHECK ADD  CONSTRAINT [CK_MUCGIAMGIA] CHECK  (([MUCGIAMGIA]>(0) AND [MUCGIAMGIA]<(1)))
GO
ALTER TABLE [dbo].[CTDKM] CHECK CONSTRAINT [CK_MUCGIAMGIA]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG_DONGIA_CTPN] CHECK  (([SOLUONG]>(0) AND [DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_SOLUONG_DONGIA_CTPN]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG_CTPX] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_SOLUONG_CTPX]
GO
ALTER TABLE [dbo].[KHO_MH_SIZE]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONGTON_KHO_MH_SIZE] CHECK  (([SOLUONGTON]>=(0)))
GO
ALTER TABLE [dbo].[KHO_MH_SIZE] CHECK CONSTRAINT [CK_SOLUONGTON_KHO_MH_SIZE]
GO
USE [master]
GO
