<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9f1102c4bf.js"
      crossorigin="anonymous"
    ></script>
     <link th:href="@{/owlcarousel/owl.carousel.min.css}" rel="stylesheet" />
     <link th:href="@{/owlcarousel/owl.theme.default.min.css}" rel="stylesheet" />
     <link th:href="@{/styles/index.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="loading-animation">
      <img th:src="@{/images/animation/loading-black-2x.gif}"/>
    </div>
    <header class="fc-white dosis-font" id="header">
      <div
        class="child--1 fs-6 d-flex align-items-center justify-content-between"
      >
        <div class="fs-small">
          <span class="fs-small"
            ><i class="fa-solid fa-location-dot fa-xs"></i> Singapore</span
          >
          <span class="fs-small">English</span>
          <span class="fs-small d-inline-flex align-items-center"
            ><i class="px-1 fa-solid fa-phone fa-xs fs-small"></i>
            +65-6983-1020</span
          >
        </div>
        <div class="px-2" style="transform: translateX(-45px)">
          <img
            th:src="@{/images/gucci_logo.png}"
            width="160px"
            height="26px"
            alt=""
            class="logo"
          />
        </div>
        <div>
          <a href="#" class="fs-small"
            ><span class="signin-popover m-0">Sign In</span></a
          >
          <a href="#" class="fs-small"><i class="fa-regular fa-heart"></i></a>
          <a href="#" class="fs-small bag-popover" data-bs-toggle="popover"
            ><i class="fa-sharp fa-solid fa-bag-shopping"></i>&nbsp; Bag</a
          >
        </div>
      </div>
      <div class="child--2 pb-2">
        <a href="#" class="text-uppercase">gift</a>
        <a href="#" class="text-uppercase">what's new</a>
        <a href="#" class="text-uppercase">handbags</a>
        <a href="#" class="text-uppercase">women</a>
        <a href="#" class="text-uppercase">men</a>
        <a href="#" class="text-uppercase">children</a>
        <a href="#" class="text-uppercase">jewellery & watches</a>
        <a href="#" class="text-uppercase">beauty</a>
        <a href="#" class="text-uppercase">decor & lifestyle</a>
        <div id="user-sticky">
          <a href="#" class="fs-small"
            ><i class="fa-regular fa-user signin-popover"></i
          ></a>
          <a href="#" class="fs-small"><i class="fa-regular fa-heart"></i></a>
          <a href="#" class="fs-small bag-popover" data-bs-toggle="popover"
            ><i class="fa-sharp fa-solid fa-bag-shopping"></i>&nbsp;</a
          >
        </div>
      </div>
    </header>
    <!-- Items List  -->
    <section class="container-fluid items-section">
      <div class="child--1 items-list">
      
        <div class="row row-cols-4 items"  >
          <div class="col item" th:each="item: ${listmathang}"  >
            <div class="item-img">
            <img th:src="@{/images/men-shirts/black-shirt.jpg}"/>
            </div>
            <div class="item-detail text-center">
              <div class="owl-carousel owl-theme owl-height items-carousel">
              <img th:src="@{/images/men-shirts/black-shirt-1.jpg}"/>
               <img th:src="@{/images/men-shirts/men-black-shirt.jpg}"/>
                <img th:src="@{/images/men-shirts/men-black-shirt-1.jpg}"/>
                 <img th:src="@{/images/men-shirts/men-black-shirt-2.jpg}"/>
              </div>
              <div class="item-content mt-4" >
                <p class="item-name" th:text="${item.tenmh}" >Double G cotton poplin shirt</p>
                <p class="item-price" th:text="${item.gia}">$ 780</p>
                <a  class="item-detail-link" th:href = "@{/items_info/{mamh}(mamh=${item.mamh})}"
                  >shop this &nbsp;
                  <i class="fa-solid fa-angle-right fa-2xs"></i
                ></a>
                 <a  class="item-detail-link" 
                  th:href="@{add_item_cart/{mamh}(mamh=${item.mamh})}"
                  >ADD TO CART &nbsp;
                  <i class="fa-solid fa-angle-right fa-2xs"></i
                ></a>
              </div>
            </div>
          </div>
         <!--  <div class="col item">
            <div class="item-img">
              <img src="./images/men-shirts/white-shirt.jpg" alt="" />
            </div>
            <div class="item-detail text-center">
              <div class="owl-carousel owl-theme items-carousel">
                <img src="./images/men-shirts/white-shirt-1.jpg" alt="" />
                <img src="./images/men-shirts/men-white-shirt.jpg" alt="" />
                <img src="./images/men-shirts/white-shirt-neck.jpg" alt="" />
                <img src="./images/men-shirts/men-white-shirt-1.jpg" alt="" />
                <img src="./images/men-shirts/men-white-shirt-2.jpg" alt="" />
              </div>
              <div class="item-content mt-4">
                <p class="item-name">Double G cotton poplin shirt</p>
                <p class="item-price">$ 780</p>
                <a href="#" class="item-detail-link"
                  >shop this &nbsp;
                  <i class="fa-solid fa-angle-right fa-2xs"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col item">
            <div class="item-img">
              <img src="./images/men-shirts/blue-stripe-shirt.jpg" alt="" />
            </div>
            <div class="item-detail text-center">
              <div class="owl-carousel owl-theme items-carousel">
                <img src="./images/men-shirts/blue-stripe-shirt-1.jpg" alt="" />
                <img
                  src="./images/men-shirts/men-blue-stripe-shirt.jpg"
                  alt=""
                />
                <img
                  src="./images/men-shirts/blue-stripe-shirt-men-1.jpg"
                  alt=""
                />
                <img
                  src="./images/men-shirts/blue-stripe-shirt-men-2.jpg"
                  alt=""
                />
                <img
                  src="./images/men-shirts/blue-stripe-shirt-men-3.jpg"
                  alt=""
                />
              </div>
              <div class="item-content mt-4">
                <p class="item-name">Double G cotton poplin shirt</p>
                <p class="item-price">$ 780</p>
                <a href="#" class="item-detail-link"
                  >shop this &nbsp;
                  <i class="fa-solid fa-angle-right fa-2xs"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col item">
            <div class="item-img">
              <img src="./images/men-shirts/brown-shirt.jpg" alt="" />
            </div>
            <div class="item-detail text-center">
              <div class="owl-carousel owl-theme items-carousel">
                <img src="./images/men-shirts/brown-shirt-1.jpg" alt="" />
                <img src="./images/men-shirts/brown-shirt-men.jpg" alt="" />
                <img src="./images/men-shirts/brown-shirt-men-1.jpg" alt="" />
                <img src="./images/men-shirts/brown-shirt-men-2.jpg" alt="" />
                <img src="./images/men-shirts/brown-shirt-men-3.jpg" alt="" />
              </div>
              <div class="item-content mt-4">
                <p class="item-name">Double G cotton poplin shirt</p>
                <p class="item-price" style="font-weight: 300">$ 780</p>
                <a href="#" class="item-detail-link"
                  >shop this &nbsp;
                  <i class="fa-solid fa-angle-right fa-2xs"></i
                ></a>
              </div>
            </div>
          </div> -->
        </div>
     <!--    <div class="row row-cols-4 items">
          <div class="col item">
            <div class="item-img">
              <img src="./images/men-shirts/green-shirt.jpg" alt="" />
            </div>
            <div class="item-detail text-center">
              <div class="owl-carousel owl-theme owl-height items-carousel">
                <img src="./images/men-shirts/green-shirt-1.jpg" alt="" />
                <img src="./images/men-shirts/green-shirt-men.jpg" alt="" />
                <img src="./images/men-shirts/green-shirt-men-1.jpg" alt="" />
                <img src="./images/men-shirts/green-shirt-men-2.jpg" alt="" />
                <img src="./images/men-shirts/green-shirt-men-3.jpg" alt="" />
              </div>
              <div class="item-content mt-4">
                <p class="item-name">Double G cotton poplin shirt</p>
                <p class="item-price">$ 780</p>
                <a href="#" class="item-detail-link"
                  >shop this &nbsp;
                  <i class="fa-solid fa-angle-right fa-2xs"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col item">
            <div class="item-img">
              <img src="./images/men-shirts/pink-shirt.jpg" alt="" />
            </div>
            <div class="item-detail text-center">
              <div class="owl-carousel owl-theme items-carousel">
                <img src="./images/men-shirts/pink-shirt-1.jpg" alt="" />
                <img src="./images/men-shirts/pink-shirt-men.jpg" alt="" />
                <img src="./images/men-shirts/pink-shirt-men-1.jpg" alt="" />
                <img src="./images/men-shirts/pink-shirt-men-2.jpg" alt="" />
                <img src="./images/men-shirts/pink-shirt-men-3.jpg" alt="" />
              </div>
              <div class="item-content mt-4">
                <p class="item-name">Double G cotton poplin shirt</p>
                <p class="item-price">$ 780</p>
                <a href="#" class="item-detail-link"
                  >shop this &nbsp;
                  <i class="fa-solid fa-angle-right fa-2xs"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col item">
            <div class="item-img">
              <img src="./images/men-shirts/green-flower.jpg" alt="" />
            </div>
            <div class="item-detail text-center">
              <div class="owl-carousel owl-theme items-carousel">
                <img src="./images/men-shirts/green-flower1.jpg" alt="" />
                <img src="./images/men-shirts/green-flower-men.jpg" alt="" />
                <img src="./images/men-shirts/green-flower-men1.jpg" alt="" />
                <img src="./images/men-shirts/green-flower-men2.jpg" alt="" />
                <img src="./images/men-shirts/green-flower-men3.jpg" alt="" />
              </div>
              <div class="item-content mt-4">
                <p class="item-name">Double G cotton poplin shirt</p>
                <p class="item-price">$ 780</p>
                <a href="#" class="item-detail-link"
                  >shop this &nbsp;
                  <i class="fa-solid fa-angle-right fa-2xs"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col item">
            <div class="item-img">
              <img src="./images/men-shirts/blue-stripe-shirt--1.jpg" alt="" />
            </div>
            <div class="item-detail text-center">
              <div class="owl-carousel owl-theme items-carousel">
                <img
                  src="./images/men-shirts/blue-stripe-shirt--1-1.jpg"
                  alt=""
                />
                <img
                  src="./images/men-shirts/blue-stripe-shirt--1-men-1.jpg"
                  alt=""
                />
                <img
                  src="./images/men-shirts/blue-stripe-shirt--1-men-2.jpg"
                  alt=""
                />
                <img
                  src="./images/men-shirts/blue-stripe-shirt--1-men-3.jpg"
                  alt=""
                />
                <img
                  src="./images/men-shirts/blue-stripe-shirt--1-men-4.jpg"
                  alt=""
                />
              </div>
              <div class="item-content mt-4">
                <p class="item-name">Double G cotton poplin shirt</p>
                <p class="item-price" style="font-weight: 300">$ 780</p>
                <a href="#" class="item-detail-link"
                  >shop this &nbsp;
                  <i class="fa-solid fa-angle-right fa-2xs"></i
                ></a>
              </div>
            </div>
          </div>
        </div> -->
        
      </div>
    </section>

    <!-- TEST POPOVER -->
    <div id="bag-detail-popover" class="my-popover">
      <h6>Shopping Bag</h6>
      <div>
        <ul class="detail-list scroll">
          <li class="item">
            <div class="item-img">
              <img
                src="./images/men-shirts/men-shirt-bag/blue-shirt/blue-shirt.jpg"
                alt=""
              />
            </div>
            <div class="item-content">
              <p class="item-name">Cotton shirt with Double G</p>
              <p class="quantity">Quantity: 1</p>
              <p class="price">Price: C$ 1,005</p>
              <p class="size">Size: XL</p>
            </div>
          </li>

          <li class="item">
            <div class="item-img">
              <img
                src="./images/men-shirts/men-shirt-bag/blue-shirt/blue-shirt.jpg"
                alt=""
              />
            </div>
            <div class="item-content">
              <p class="item-name">Cotton shirt with Double G</p>
              <p class="quantity">Quantity: 1</p>
              <p class="price">Price: C$ 1,005</p>
              <p class="size">Size: XL</p>
            </div>
          </li>
        </ul>
        <div class="total">
          <div class="total-left">
            <span>Sub Total</span>
          </div>
          <div class="total-right">
            <p class="total-money">C$ 2,0101</p>
            <p class="include">Import Duties Included</p>
          </div>
        </div>
        <div class="view-bag-checkout">
          <a href="#" class="view-bag">view bag details</a>
          <button type="button" class="btn brown-btn no-radius btn-hover">
            checkout
          </button>
        </div>
      </div>
    </div>

    <!-- Sign in Popover -->
    <div id="signin-popover" class="my-popover">
     <div class="img-container" th:if="${user=='anonymousUser'}" >
		<div class="sign-in">
        <!-- Phần này để rảnh thì làm tiếp  -->
        <div class="carousel-text">
          <div>Save you favorite item</div>
        </div>
        <button class="btn brown-btn no-radius white-btn" type="button">
         <a th:href = "@{/login}" style="color:black;"> create my gucci account</a>
        </button>
      </div>
       <div class="register">
        <button class="btn brown-btn no-radius" type="button">
           <a th:href = "@{/login}"> sign in</a>
        </button>
      </div>
	</div> 
    
       <div class="img-container" th:if="${user!='anonymousUser'}" >
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div> 
	<div class="img-container" th:if="${user=='ADMIN'}">
             <h3>ADMIN</h3>
            <!--  <h3><a th:text="${session.mySessionAttribute}" th:href="@{/edit_admin}"  th:unless="${session == null}">[...]</a></h3> -->
            <h3><a th:text="${session.mySession.tentk}" th:href="@{/edit_user}"  th:unless="${session == null}">[...]</a></h3>
             <h3><a th:href="@{/list_users}">List of Users</a></h3>
        </div>
        <div class="img-container" th:if="${user=='USER'}">
             <h3>USER</h3>
          <!--    <h3><a th:text="${session.mySessionAttribute}" th:href="@{/edit_user}"  th:unless="${session == null}">[...]</a></h3> -->
            <h3><a th:text="${session.mySession.tentk}" style="color: black;" th:href="@{/edit_user}"  th:unless="${session == null}">[...]</a></h3>
        </div> 
    </div>

    <!-- Scripts -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <script src="./scripts/loading-animation.js"></script>
    <script>
      $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
          center: true,
          items: 1,
          loop: true,
          margin: 0,
          autoplay: false,
          nav: true,
          navText: [
            '<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/></svg>',
            '<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/></svg>',
          ],
        });
      });
    </script>
    <script src="./scripts/sticky-nav.js"></script>
    <script src="./scripts/popover.js"></script>
  </body>
</html>
