<!DOCTYPE html>
<html>
<head>
<meta charset="">
<title>Insert title here</title>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
  rel="stylesheet"
/>
<link th:href="@{/styles/index.css}" rel="stylesheet" />
    <link th:href="@{/owlcarousel/owl.theme.default.min.css}" rel="stylesheet" />
    <link th:href="@{/owlcarousel/owl.carousel.min.css}" rel="stylesheet" />
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"
></script>
</head>
<body>
 <header class="fc-white dosis-font" id="header">
      <div
        class="child--1 fs-6 d-flex align-items-center justify-content-between"
      >
        <div class="fs-small">
          <span class="fs-small"
            ><i class="fa-solid fa-location-dot fa-xs"></i> Singapore</span
          >
          <span class="fs-small">English</span>
          <span class="fs-small d-inline-flex align-items-center"
            ><i class="px-1 fa-solid fa-phone fa-xs fs-small"></i>
            +65-6983-1020</span
          >
        </div>
        <div class="px-2" style="transform: translateX(-45px)">
          <img
            src="images/gucci_logo.png"
            width="160px"
            height="26px"
            alt=""
            class="logo"
          />
        </div>
        <div>
          <a href="#" class="fs-small"
            ><span class="signin-popover m-0">Sign In</span></a
          >
          <a href="#" class="fs-small"><i class="fa-regular fa-heart"></i></a>
          <a href="#" class="fs-small bag-popover" data-bs-toggle="popover"
            ><i class="fa-sharp fa-solid fa-bag-shopping"></i>&nbsp; Bag</a
          >
        </div>
      </div>
      <div class="child--2 pb-2">
        <a href="#" class="text-uppercase">gift</a>
        <a href="#" class="text-uppercase">what's new</a>
        <a th:href="@{/list_items}" class="text-uppercase">handbags</a>
        <a href="#" class="text-uppercase">women</a>
        <a href="#" class="text-uppercase">men</a>
        <a href="#" class="text-uppercase">children</a>
        <a href="#" class="text-uppercase">jewellery & watches</a>
        <a href="#" class="text-uppercase">beauty</a>
        <a href="#" class="text-uppercase">decor & lifestyle</a>
        <div id="user-sticky">
          <a href="#" class="fs-small"
            ><i class="fa-regular fa-user signin-popover"></i
          ></a>
          <a href="#" class="fs-small"><i class="fa-regular fa-heart"></i></a>
          <a href="#" class="fs-small bag-popover" data-bs-toggle="popover"
            ><i class="fa-sharp fa-solid fa-bag-shopping"></i>&nbsp;</a
          >
        </div>
      </div>
    </header> 
<section class="h-100 h-custom" style="background-color: #d2c9ff;" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">3 items</h6>
                  </div>
                  <div class="card rounded-3 mb-4" th:each="item: ${session.order.items}">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2" th:text="${item.mathangDTO.tenmh}">Basic T-shirt</p>
                <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
              <form th:action="@{/shopping_cart/update}" method="POST">
                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>
                 <input type="hidden" th:name="productId" th:value="${item.mathangDTO.mamh}" >
                <input id="form1" min="0"  th:name="quantity"  th:value="${item.quantity}" onblur="this.form.submit()" type="number"
                  class="form-control form-control-sm" />

                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                 <!--  <a   th:href = "@{/add_item_cart/{mamh}(mamh=${item.mathangDTO.mamh})}">
                  <i class="fas fa-plus"></i>
                  </a> -->
                  <i class="fas fa-plus"></i>
                </button>
              </form>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0" th:text="${item.gia}">$499.00</h5>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0" >Total price</h5>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0" th:text="${item.gia}*${item.quantity}">Total price</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a th:href ="@{/remove_item/{mamh}(mamh=${item.mathangDTO.mamh})}" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
                  <!-- <div th:each="item: ${session.order.items}">
                  <hr class="my-4" >

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img5.webp"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">Shirt</h6>
                      <h6 class="text-black mb-0" th:text="${item.mathangDTO.tenmh}">Cotton T-shirt</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                    <form th:action="@{/shopping_cart/update}" method="POST">
                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>
                      <input type="hidden" th:name="productId" th:value="${item.mathangDTO.mamh}" >
                      <input id="form1" min="0"  value="1" type="number" th:name="quantity"  th:value="${item.quantity}"
                        class="form-control form-control-sm" />

                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                      </form>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0" th:text="${item.gia}">€ 44.00</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>

                  <hr class="my-4">
                </div> -->
                 <!--  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img6.webp"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">Shirt</h6>
                      <h6 class="text-black mb-0">Cotton T-shirt</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>

                      <input id="form1" min="0" name="quantity" value="1" type="number"
                        class="form-control form-control-sm" />

                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">€ 44.00</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img7.webp"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">Shirt</h6>
                      <h6 class="text-black mb-0">Cotton T-shirt</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>

                      <input id="form1" min="0" name="quantity" value="1" type="number"
                        class="form-control form-control-sm" />

                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">€ 44.00</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>-->

                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0"><a th:href="@{/list_items}" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                <!--   <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items 3</h5>
                    <h5>€ 132.00</h5>
                  </div> -->

                 <!--  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Standard-Delivery- €5.00</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                    </select>
                  </div> -->

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">Enter your code</label>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5 th:text="${session.order.getTotal()}">€ 137.00</h5>
                  </div>
                      <form th:action="@{/insert_items_cart}"  method="POST">
                  <button type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Register</button>
</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>